<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <h1 class="header-title">404 page not found</h1>
        <nav>
            <a class="nav-link" href="/">Shop</a>
            <a class="nav-link" href="admin/add-product">Add Product</a>
        </nav>
    </header>
    <form class="error-container">
        <h1 class="error-code">404</h1>
        <h2 class="error-message">Page not found</h2>
    </form>
</body>

</html>