<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <h1 class="header-title">Add Product</h1>
        <nav>
            <a class="nav-link" href="/">Shop</a>
            <a class="nav-link" href="add-product">Add Product</a>
        </nav>
    </header>
    <main class="main-container">
        <h1 class="form-title">Add Product</h1>
        <form class="product-form" action="/admin/product" method="POST">
            <input class="form-input" type="text" name="name" placeholder="Name">
            <input class="form-input" type="text" name="price" placeholder="Price">
            <input class="form-input" type="text" name="description" placeholder="Description">
            <input class="form-submit" type="submit" value="Add Product">
        </form>
    </main>
</body>

</html>