<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add Product</h1>
    <form action="/admin/product" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="price" placeholder="Price">
        <input type="text" name="description" placeholder="Description">
        <input type="submit" value="Add Product">
    </form>
    <a href="shop">Shop</a>
    <a href="cart">Cart</a>
    <a href="checkout">Checkout</a>
    <a href="orders">Orders</a>
    <a href="logout">Logout</a>
</body>

</html>