<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <h1 class="header-title">Shop</h1>
        <nav>
            <a class="nav-link" href="/">Shop</a>
            <a class="nav-link" href="admin/add-product">Add Product</a>
        </nav>
    </header>
    <main>
        <h1>Shop</h1>
        <ul>
            <li>
                <h2>Product 1</h2>
                <p>Price: $19.99</p>
                <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </li>
            <li>
                <h2>Product 2</h2>
                <p>Price: $29.99</p>
                <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </li>
            <li>
                <h2>Product 3</h2>
                <p>Price: $39.99</p>
                <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
            </li>
        </ul>
    </main>

</body>

</html>