doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="/css/main.css")
  body
    header.main-header
      h1.header-title Shop
      nav
        a.nav-link(href="/") Shop
        a.nav-link(href="admin/add-product") Add Product
    main
      h1 Shop
      ul
        li
          h2 Product 1
          p Price: $19.99
          p Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
        li
          h2 Product 2
          p Price: $29.99
          p Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
        li
          h2 Product 3
          p Price: $39.99
          p Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.